@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 1px;
}

#first_container {
    display: grid;
    grid-template-columns: auto 1fr;
    background: #fc9f2d;
    color: white;
    width: 100vw;
    height: 100svh;
    align-content: space-between;
    padding: 50px 80px;
    /* justify-items: center; */
}

#first_container .capital {
    font-size: 100px;
    font-weight: bold;
    width: 82px;
    /* display: inline-block; */
    text-align: center;
}

#first_container h1 {
    font-weight: 400;
    font-size: 80px;
    line-height: 1.3;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
}
#first_container p {
    font-size: 35px;
    opacity: 0.8;
}



#button {
    width: 100%;
    height: 250px;
    /* background: white; */
    border: 0;
    border-radius: 10px;
    margin-top: 27px;
    font-size: 30px;
    cursor: pointer;
    background-image: url("../imgs/kotopes4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#button:hover {
    background-color: white;
}


form {
    display: none;
}